<!DOCTYPE html>
<html>
<head>
  <title>Koodlelab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-twttr-rendered="true">
<div class="header">
  <div class="center jumbotron">

      <!--<img src="/images/m&m.jpg" alt="Jing Chen">-->
      <h1><%= image_tag("m&m.jpg", :alt => "Jing Chen") %><a href="/">Jing Chen</a></h1>
      <h2>= Coder from ["Fuzhou, China", "Chicago, USA", "Hong Kong"]</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-4">
      <aside class="sidebar">
        <section>
          <% if logged_in? %>
            <div class="logout">
              <p>
                <%= link_to 'Log out', logout_path, method:"delete"%>
              </p>
              <p>
                <%= link_to 'Admin home', koodlela_path %>
              </p>
              <p>
                <%= link_to 'Post new blog', new_blog_path %>
              </p>
            </div>
          <% else %>
            <h1>Recent Posts</h1>
            <ul id="recent_blogs">
              <% populateMostRecentBlogs.each do |blog| %>
                <li class="blog">
                  <%= link_to blog.title, blog%>
                </li>
              <% end %>
            </ul>
            <hr>
          <% end %>
        </section>
      </aside>
    </div>
  </div>
  <hr>
  <footer>
    <p>© Koodle Lab 2014</p>
  </footer>
</div>

</body>
</html>
